REACT_APP=http://localhost:3000
MONGO_DATABASE=rooms-reservation-app
MONGO_HOST=dwcorp.y5ugild.mongodb.net
MONGO_DATABASE=rooms-reservation-app
MONGO_USERNAME=
MONGO_PASSWORD=
CLOUD_FUNCTION_URL=
CLOUD_FUNCTION_API_KEY=
FLASK_ENV=development
MINIO_URL=http://dwcorp.com.br:9000